.header_wrapper{
  display: flex;
  justify-content: space-between;
  margin: 30px 90px 0;

  p{
    font-weight: 100;
  }
}

.divider {
  height: 5px;
  width: 25%;
  background-color: #F8940B;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin: 20px;

  button {
    margin: 0 0 20px 20px;
    background-color: #f2b45d;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
  }
}

.buttonWrapper button:hover {
  background-color: #F8940B; 
}

.clock {
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-weight: 700
}

.contenWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
